div {
    display: flex;
    justify-content: center;
}

img {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
}

.slide-container img {
    width: 100%;
}

.car-reviews {
    height: 10vh;
    gap: 30px;
}