div {
    justify-content: center;
    outline: auto;
}

img {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
}

div,
.slide-container,
.car-reviews {
    display: flex;
}

.slide-container img{
    width: 100%;
}
.car-reviews {
    height: 10vh;
    gap: 30px;
}