<mat-form-field>
    <mat-label>Manufature</mat-label>
    <mat-select [(value)]="manufaturer" (valueChange)="getModels()" >
        <mat-option *ngFor="let make of makeList" value="{{make.name}}">
            <pre>{{make.name}}</pre>
        </mat-option>

    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select [(value)]="model">
        <mat-option *ngFor="let car of carList" value="{{car.name}}">
            <pre>{{car.model}} </pre>
        </mat-option>
    </mat-select>
</mat-form-field>